<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warmmingup.buildup.backlog.dao.BacklogMapper">


    <resultMap id="BacklogResultMap" type="com.warmmingup.buildup.backlog.dto.BacklogDTO">
        <id property="backlogNo" column="BACKLOG_NO"/>
        <result property="backlogName" column="BACKLOG_NAME"/>
        <result property="backlogContent" column="BACKLOG_CONTENT"/>
        <result property="backlogStatus" column="BACKLOG_STATUS"/>
        <result property="backlogPriority" column="BACKLOG_PRIORITY"/>
        <result property="projectNo" column="PROJECT_NO"/>

    </resultMap>

    <resultMap id="BacklogAuthority" type="com.warmmingup.buildup.backlog.dto.BacklogAuthorityDTO">
        <result property="projectNo" column="PROJECT_NO"/>
        <result property="employeeName" column="EMPLOYEE_NAME"/>
        <result property="roleNo" column="ROLE_NO"/>
        <result property="authorityState" column="AUTHORITY_STATE"/>
        <result property="employeeNo" column="EMPLOYEE_NO"/>
        <result property="typeNo" column="TYPE_NO"/>


    </resultMap>

    <select id="selectBacklogListWithPaging" parameterType="hashmap" resultMap="BacklogResultMap">
        SELECT
                b.BACKLOG_NO
                , b.BACKLOG_NAME
                , b.BACKLOG_CONTENT
                , b.BACKLOG_PRIORITY
                , b.BACKLOG_STATUS
                , b.PROJECT_NO
        FROM
        (
                SELECT
                        a.*,
                        ROWNUM R
                FROM
                (
                        SELECT
                                *
                          FROM
                                BACKLOG
                         WHERE
                                PROJECT_NO = #{projectNo}
                        <if test="searchValue != null">
                            and(
                                BACKLOG_NAME
                            LIKE #{searchValue}
                            OR BACKLOG_CONTENT
                            LIKE #{searchValue}
                            OR BACKLOG_PRIORITY
                            LIKE #{searchValue}
                            OR BACKLOG_STATUS
                            LIKE #{searchValue}
                            )
                        </if>
                ) a
        ) b
        WHERE
                b.R BETWEEN #{pageInfo.startRow} AND #{pageInfo.endRow}
        ORDER BY BACKLOG_NO ASC
    </select>

    <select id="selectBacklogTotal" resultType="_int" parameterType="hashmap">

        SELECT
                COUNT(*)
        FROM
                BACKLOG
        WHERE
                PROJECT_NO = ${projectNo}
        <if test="searchValue != null">
            and(
            BACKLOG_NAME
            LIKE #{searchValue}
            OR BACKLOG_CONTENT
            LIKE #{searchValue}
            OR BACKLOG_PRIORITY
            LIKE #{searchValue}
            OR BACKLOG_STATUS
            LIKE #{searchValue}
            )
        </if>
        ORDER BY BACKLOG_NO ASC


    </select>



    <select id="findBacklog" parameterType="com.warmmingup.buildup.backlog.dto.BacklogDTO">
        SELECT
        BACKLOG_CONTENT FROM BACKLOG
        WHERE
        BACKLOG_CONTENT = #{backlogContent}
        ORDER BY BACKLOG_NO ASC
    </select>

    <select id="findBacklogsByNo" resultType="_int">
        SELECT SEQ_BACKLOG_NO.CURRVAL
        FROM DUAL

    </select>

    <insert id="addBacklogs" parameterType="com.warmmingup.buildup.backlog.dto.BacklogDTO">
        INSERT INTO BACKLOG
        (
        BACKLOG_NO
       ,BACKLOG_NAME
       ,BACKLOG_CONTENT
       ,BACKLOG_STATUS
       ,BACKLOG_PRIORITY
       ,PROJECT_NO
        )
        VALUES
        (
        SEQ_BACKLOG_NO.NEXTVAL,
        #{backlogName},
        #{backlogContent},
        #{backlogStatus},
        #{backlogPriority},
        #{projectNo}
        )

    </insert>
    <update id="updateBacklogs" parameterType="com.warmmingup.buildup.backlog.dto.BacklogDTO">
        UPDATE BACKLOG
        SET
        BACKLOG_NAME = #{backlogName}
        ,BACKLOG_CONTENT = #{backlogContent}
        ,BACKLOG_STATUS = #{backlogStatus}
       , BACKLOG_PRIORITY = #{backlogPriority}
        ,PROJECT_NO = #{projectNo}
        WHERE BACKLOG_NO = #{backlogNo}
    </update>

    <delete id="deleteBacklog" parameterType="_int">
       DELETE FROM BACKLOG
        WHERE
            BACKLOG_NO = #{backlogNo}
    </delete>

    <select id="authority" parameterType="hashmap" resultMap="BacklogAuthority">
        SELECT pe.PROJECT_NO, e.EMPLOYEE_NAME, r.ROLE_NO, t.TYPE_NAME, a.AUTHORITY_STATE,e.EMPLOYEE_NO,a.TYPE_NO
            FROM PROJECT_EMPLOYEE pe
              JOIN EMPLOYEE e ON (pe.EMPLOYEE_NO = e.EMPLOYEE_NO)
              JOIN ROLE_AUTHORITY_TYPE r ON (pe.ROLE_NO = r.ROLE_NO)
              JOIN AUTHORITY a ON (r.AUTHORITY_NO = a.AUTHORITY_NO)
              JOIN AUTHORITY_TYPE t ON (a.TYPE_NO=t.TYPE_NO)
                   WHERE pe.PROJECT_NO = #{projectNo}
                   AND e.EMPLOYEE_NO=#{employeeNo}
    </select>



</mapper>