<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warmmingup.buildup.backlog.dao.BacklogMapper">


    <resultMap id="BacklogResultMap" type="com.warmmingup.buildup.backlog.dto.BacklogDTO">
        <id property="backlog_No" column="BACKLOG_NO"/>
        <result property="backlog_Name" column="BACKLOG_NAME"/>
        <result property="backlog_Content" column="BACKLOG_CONTENT"/>
        <result property="backlog_Status" column="BACKLOG_STATUS"/>
        <result property="backlog_Priority" column="BACKLOG_PRIORITY"/>
        <result property="project_No" column="PROJECT_NO"/>
    </resultMap>

    <select id="findAllBacklogs" resultMap="BacklogResultMap">
        SELECT A.*
        FROM BACKLOG A
    </select>
</mapper>