<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warmmingup.buildup.issue.dao.IssueMapper">

    <resultMap id="IssueResultMap" type="com.warmmingup.buildup.issue.dto.IssueDTO">
        <id property="issueNo" column="ISSUE_NO"/>
        <result property="issueName" column="ISSUE_NAME"/>
        <result property="issueContent" column="ISSUE_CONTENT"/>
        <result property="issuePriority" column="ISSUE_PRIORITY"/>
        <result property="issueStatus" column="ISSUE_STATUS"/>
        <result property="backlogNo" column="BACKLOG_NO"/>
        <result property="projectNo" column="PROJECT_NO"/>
    </resultMap>

    <resultMap id="BacklogResultMap" type="com.warmmingup.buildup.issue.dto.ISSUEBDTO">
        <id property="backlogNo" column="BACKLOG_NO"/>
        <result property="backlogName" column="BACKLOG_NAME"/>
    </resultMap>

    <select id="findAllIssues" resultMap="IssueResultMap" parameterType="hashmap">
        SELECT
            b.ISSUE_NO
        , b.ISSUE_NAME
        , b.ISSUE_CONTENT
        , b.ISSUE_PRIORITY
        , b.ISSUE_STATUS
        , b.BACKLOG_NO
        , b.PROJECT_NO
        FROM
            (
                    SELECT
                            a.*,
                            ROWNUM R
                    FROM
                    (
                                SELECT
                                        *
                                FROM
                                        ISSUE
                                WHERE
                                        PROJECT_NO = #{projectNo}
                                <if test="search != null">
                                    AND (ISSUE_NAME LIKE #{search}
                                    OR ISSUE_NO LIKE #{search}
                                    OR ISSUE_CONTENT LIKE  #{search}
                                    OR ISSUE_PRIORITY LIKE #{search}
                                    OR ISSUE_STATUS LIKE #{search})
                                </if>
                    ) a
        ) b
        WHERE
                b.R BETWEEN #{PageInfo.startRow} AND #{PageInfo.endRow}
    </select>


    <select id="selectIssueTotalCount" parameterType="_int" resultType="_int">
        SELECT
                COUNT(*)
        FROM
                ISSUE
        WHERE
                PROJECT_NO = #{projectNo}
    </select>

    <select id="findIssuesByNo" resultType="_int">
        SELECT SEQ_ISSUE_NO.CURRVAL
        FROM DUAL
    </select>
    <insert id="addIssues" parameterType="com.warmmingup.buildup.issue.dto.IssueDTO">
        INSERT INTO ISSUE
        (
            ISSUE_NO
          , ISSUE_NAME
          , ISSUE_CONTENT
          , ISSUE_PRIORITY
          , ISSUE_STATUS
          , BACKLOG_NO
          , PROJECT_NO
        )
        VALUES
        (
            SEQ_ISSUE_NO.NEXTVAL,
            #{issueName},
            #{issueContent},
            #{issuePriority},
            #{issueStatus},
            #{backlogNo},
            #{projectNo}
        )

    </insert>
    <update id="updateIssues" parameterType="com.warmmingup.buildup.issue.dto.IssueDTO">
        UPDATE ISSUE
        SET
            ISSUE_NAME = #{issueName},
            ISSUE_CONTENT = #{issueContent},
            ISSUE_PRIORITY = #{issuePriority},
            ISSUE_STATUS = #{issueStatus},
            BACKLOG_NO = #{backlogNo},
            PROJECT_NO = #{projectNo}
        WHERE ISSUE_NO = #{issueNo}
          AND PROJECT_NO = #{projectNo}
    </update>

    <delete id="deleteIssues" parameterType="_int">
        DELETE FROM ISSUE
        WHERE
            ISSUE_NO = #{issueNo}
    </delete>
    <select id="selectbackloglist" resultMap="BacklogResultMap" parameterType="_int">
        SELECT
            BACKLOG_NO,
            BACKLOG_NAME
        FROM
            BACKLOG
        WHERE
            PROJECT_NO = #{projectNo}
    </select>
<!--    <select id="searchIssue" parameterType="hashmap" resultMap="IssueResultMap">-->
<!--        SELECT-->
<!--                *-->
<!--        FROM ISSUE-->
<!--        WHERE ISSUE_NAME LIKE #{search}-->
<!--        OR ISSUE_NO LIKE #{search}-->
<!--        OR ISSUE_CONTENT LIKE #{search}-->

<!--    </select>-->

</mapper>