<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warmminup.buildup.model.dao.IssueMapper">

    <resultMap id="IssueResultMap" type="com.warmminup.buildup.model.dto.IssueDTO">
        <id property="issue_No" column="ISSUE_NO"/>
        <result property="issue_Name" column="ISSUE_NAME"/>
        <result property="issue_Content" column="ISSUE_CONTENT"/>
        <result property="issue_Priority" column="ISSUE_PRIORITY"/>
        <result property="issue_Status" column="ISSUE_STATUS"/>
        <result property="backlog_No" column="BACKLOG_NO"/>
        <result property="project_No" column="PROJECT_NO"/>
    </resultMap>

    <select id="findAllIssues" resultMap="IssueResultMap">
        SELECT A.*
        FROM ISSUE A
        
    </select>

</mapper>