<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warmmingup.buildup.login.dao.MemberMapper">
    <resultMap id="memberResultMap" type="com.warmmingup.buildup.login.dto.MemberDTO">
        <id property="employeeNo" column="EMPLOYEE_NO"/>
        <result property="employeePassword" column="EMPLOYEE_PASSWORD"/>
        <result property="employeeEmail" column="EMPLOYEE_EMAIL"/>
        <result property="employeeName" column="EMPLOYEE_NAME"/>
    </resultMap>

    <select id="findAllMemebers" resultMap="memberResultMap">
        SELECT
        A.*
        FROM EMPLOYEE A
    </select>

</mapper>