<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warmmingup.buildup.project.dao.ProjectMapper">

    <resultMap id="ProjectResultMap" type="com.warmmingup.buildup.project.dto.ProjectDTO">
        <id property="projectNo" column="PROJECT_NO"/>
        <result property="projectTitle" column="PROJECT_TITLE"/>
    </resultMap>

    <select id="findAllProjects" resultMap="ProjectResultMap">
        SELECT A.*
        FROM PROJECT A

        </select>
</mapper>