<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warmmingup.buildup.sprint.dao.SprintMapper">

    <resultMap id="SprintResultMap" type="com.warmmingup.buildup.sprint.dto.SprintDTO">
        <id property="sprintNo" column="SPRINT_NO"/>
        <result property="sprintName" column="SPRINT_NAME"/>
        <result property="sprintStartday" column="SPRINT_STARTDAY"/>
        <result property="sprintEndday" column="SPRINT_ENDDAY"/>
        <result property="sprintState" column="SPRINT_STATE"/>
        <result property="projectNo" column="PROJECT_NO"/>
        <collection property="sprintIssue" ofType="com.warmmingup.buildup.sprint.dto.SprintIssueDTO">
            <id property="issueNo" column="ISSUE_NO"/>
            <result property="issueName" column="ISSUE_NAME"/>
            <result property="employeeNo" column="EMPLOYEE_NO"/>
            <result property="employeeName" column="EMPLOYEE_NAME"/>
        </collection>
    </resultMap>

    <resultMap id="sprintDetailResultMap" type="com.warmmingup.buildup.sprint.dto.BoardDTO">
        <id property="sprintNo" column="SPRINT_NO"/>
        <result property="sprintName" column="SPRINT_NAME"/>
        <collection property="boardIssue" ofType="com.warmmingup.buildup.sprint.dto.IssueBoardDTO">
            <id property="boardName" column="BOARD_NAME"/>
            <collection property="sprintIssue" ofType="com.warmmingup.buildup.sprint.dto.SprintIssueDTO">
                <id property="issueNo" column="ISSUE_NO"/>
                <result property="issueName" column="ISSUE_NAME"/>
                <result property="employeeNo" column="EMPLOYEE_NO"/>
                <result property="employeeName" column="EMPLOYEE_NAME"/>
            </collection>
        </collection>
    </resultMap>

    <select id="selectSprintTotalCount" parameterType="hashmap" resultType="_int">
        SELECT COUNT(*)
          FROM SPRINT
         WHERE PROJECT_NO=#{projectNo}
    </select>

    <select id="selectAllSprints" parameterType="hashmap" resultMap="SprintResultMap">
        SELECT B.*
          FROM ( SELECT A.*
                      , ROWNUM R
                   FROM ( SELECT
                                 I.ISSUE_NO
                               , I.ISSUE_NAME
                               , E.EMPLOYEE_NAME
                               , S.*
                            FROM SPRINT S
                            LEFT JOIN SPRINT_ISSUE SI ON(S.SPRINT_NO=SI.SPRINT_NO)
                            LEFT JOIN ISSUE I ON(SI.ISSUE_NO=I.ISSUE_NO)
                            LEFT JOIN EMPLOYEE E ON(SI.EMPLOYEE_NO=E.EMPLOYEE_NO)
                           WHERE S.PROJECT_NO=#{projectNo}
                           ORDER BY S.SPRINT_NO
                        ) A
               ) B
         WHERE B.R BETWEEN #{pageInfo.startRow}
           AND #{pageInfo.endRow}
    </select>

<select id="selectBoard" parameterType="_int" resultMap="sprintDetailResultMap">
    SELECT
           B.BOARD_NAME
         , I.ISSUE_NO
         , I.ISSUE_NAME
         , E.EMPLOYEE_NAME
         , S.SPRINT_NO
         , S.SPRINT_NAME
      FROM SPRINT S
      LEFT JOIN BOARD B ON ( S.SPRINT_NO = B.SPRINT_NO )
      LEFT JOIN SPRINT_ISSUE SI ON ( S.SPRINT_NO = SI.SPRINT_NO )
      LEFT JOIN ISSUE I ON ( SI.ISSUE_NO = I.ISSUE_NO AND I.ISSUE_STATUS = B.BOARD_NAME )
      LEFT JOIN EMPLOYEE E ON ( SI.EMPLOYEE_NO = E.EMPLOYEE_NO )
     WHERE S.SPRINT_NO = #{sprintNo}
</select>



    <insert id="insertSprint" parameterType="com.warmmingup.buildup.sprint.dto.SprintDTO">
        INSERT INTO SPRINT
        (
        SPRINT_NO
        , SPRINT_NAME
        , SPRINT_STARTDAY
        , SPRINT_ENDDAY
        , SPRINT_STATE
        , PROJECT_NO
        )
        VALUES
        (
        SEQ_SPRINT_NO.NEXTVAL
        , #{sprintName}
        , #{sprintStartday}
        , #{sprintEndday}
        , '진행 중'
        , #{projectNo}
        )
    </insert>

    <insert id="insertSprintIssue" parameterType="com.warmmingup.buildup.sprint.dto.SprintIssueDTO">
        INSERT
          INTO SPRINT_ISSUE
        (
        SPRINT_NO
        ,  ISSUE_NO
        , EMPLOYEE_NO
        )
        VALUES
        (
        SEQ_SPRINT_NO.CURRVAL
        , #{issueNo}
        , #{employeeNo}
        )

    </insert>

    <update id="updateSprint" parameterType="com.warmmingup.buildup.sprint.dto.SprintDTO">
        UPDATE SPRINT
        SET
        SPRINT_NAME = #{sprintName},
        SPRINT_STATE = #{sprintState},
        SPRINT_ENDDAY = #{sprintEndday}
        WHERE SPRINT_NO = #{sprintNo}
    </update>

<!--    <update id="patchSprint" parameterType="com.warmmingup.buildup.sprint.dto.SprintDTO">-->
<!--        UPDATE SPRINT-->
<!--        <set>-->
<!--            <if test="sprintName != null">-->
<!--                SPRINT_NAME = #{sprintName},-->
<!--            </if>-->
<!--            <if test="sprintState != null">-->
<!--                SPRINT_STATE = #{sprintState},-->
<!--            </if>-->
<!--            <if test="sprintEndday != null">-->
<!--                SPRINT_ENDDAY = #{sprintEndday}-->
<!--            </if>-->
<!--        </set>-->
<!--        WHERE SPRINT_NO = #{sprintNo}-->
<!--    </update>-->

    <delete id="deleteSprint" parameterType="_int">
            DELETE FROM SPRINT
    WHERE SPRINT_NO = #{sprintNo}
    </delete>
</mapper>