<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warmmingup.buildup.admin.dao.AdminLoginMapper">

    <resultMap id="adminResultMap" type="com.warmmingup.buildup.admin.dto.AdminLoginDTO">
        <id property="adminId" column="ADMIN_ID"/>
        <result property="adminPwd" column="ADMIN_PWD"/>
    </resultMap>

    <select id="selectAdmin" parameterType="String" resultMap="adminResultMap">
        SELECT ADMIN_ID
             , ADMIN_PWD
          FROM ADMIN
         WHERE ADMIN_ID = #{adminId}
    </select>

    <insert id="insertAdminInfo" parameterType="com.warmmingup.buildup.admin.dto.AdminLoginDTO">
        INSERT INTO ADMIN ( ADMIN_ID, ADMIN_PWD) VALUES ( #{adminId}, #{adminPwd} )
    </insert>
</mapper>