<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warmmingup.buildup.admin.dao.AuthorityManageMapper">

    <resultMap id="authType" type="com.warmmingup.buildup.admin.dto.AuthTypeDTO">
        <id property="typeNo" column="TYPE_NO"/>
        <result property="typeName" column="TYPE_NAME"/>
    </resultMap>

    <resultMap id="authority" type="com.warmmingup.buildup.admin.dto.AuthorityDTO">
        <id property="roleNo" column="ROLE_NO"/>
        <result property="roleName" column="ROLE_NAME"/>
        <collection property="type" ofType="com.warmmingup.buildup.admin.dto.AuthTypeDTO">
            <id property="typeNo" column="TYPE_NO"/>
            <result property="typeName" column="TYPE_NAME"/>
            <collection property="state" ofType="String" column="AUTHORITY_STATE"/>
        </collection>
    </resultMap>

    <select id="selectAuthorityTotalCount" resultType="_int">
        SELECT
               COUNT(*)
          FROM ROLE A
    </select>

    <select id="selectAllAuthority" parameterType="com.warmmingup.buildup.common.paging.SelectCriteria" resultMap="authority">
        SELECT
               F.AUTHORITY_STATE
             , F.ROLE_NO
             , F.ROLE_NAME
             , F.TYPE_NO
             , F.TYPE_NAME
          FROM ( SELECT DENSE_RANK() OVER (ORDER BY ROLE_NO) RN
                      , E.*
                   FROM ( SELECT C.AUTHORITY_STATE
                               , A.ROLE_NO
                               , A.ROLE_NAME
                               , D.TYPE_NO
                               , D.TYPE_NAME
                            FROM ROLE A
                            LEFT JOIN ROLE_AUTHORITY_TYPE B ON ( A.ROLE_NO = B.ROLE_NO )
                            LEFT JOIN AUTHORITY C ON ( B.AUTHORITY_NO = C.AUTHORITY_NO )
                            LEFT JOIN AUTHORITY_TYPE D ON ( C.TYPE_NO = D.TYPE_NO )
                           ORDER BY A.ROLE_NO, D.TYPE_NO, C.AUTHORITY_NO
                        ) E
               ) F
         WHERE F.RN BETWEEN #{startRow} AND #{endRow}
    </select>

    <select id="selectAuthorityByNo" parameterType="_int" resultMap="authority">
        SELECT
               C.AUTHORITY_STATE
             , A.ROLE_NO
             , A.ROLE_NAME
             , D.TYPE_NO
             , D.TYPE_NAME
          FROM ROLE A
          LEFT JOIN ROLE_AUTHORITY_TYPE B ON ( A.ROLE_NO = B.ROLE_NO )
          LEFT JOIN AUTHORITY C ON ( B.AUTHORITY_NO = C.AUTHORITY_NO )
          LEFT JOIN AUTHORITY_TYPE D ON ( C.TYPE_NO = D.TYPE_NO )
         WHERE A.ROLE_NO=#{roleNo}
         ORDER BY D.TYPE_NO, C.AUTHORITY_NO
    </select>

    <select id="selectAllAuthTypes" resultMap="authType">
        SELECT
               TYPE_NO
             , TYPE_NAME
          FROM AUTHORITY_TYPE
         ORDER BY TYPE_NO
    </select>

    <insert id="insertNewRole" parameterType="com.warmmingup.buildup.admin.dto.AuthorityDTO">
        INSERT
          INTO ROLE
        (
          ROLE_NO
        , ROLE_NAME
        )
        VALUES
        (
          SEQ_AUTHORITY_NO.NEXTVAL
        , #{roleName}
        )
    </insert>

    <insert id="insertAuthority" parameterType="hashmap">
        INSERT
          INTO ROLE_AUTHORITY_TYPE
        (
          ROLE_NO
        , AUTHORITY_NO
        )
        (
        SELECT #{roleNo}
             , AUTHORITY_NO
          FROM AUTHORITY
         WHERE AUTHORITY_STATE =#{state}
           AND TYPE_NO = #{typeNo}
        )
    </insert>

    <select id="selectAuthNo" resultType="_int">
        SELECT SEQ_AUTHORITY_NO.CURRVAL
          FROM DUAL
    </select>

    <update id="updateRole" parameterType="com.warmmingup.buildup.admin.dto.AuthorityDTO">
        UPDATE ROLE
           SET ROLE_NAME = #{roleName}
         WHERE ROLE_NO = #{roleNo}
    </update>

    <delete id="deleteAuthority" parameterType="_int">
        DELETE
          FROM ROLE_AUTHORITY_TYPE
         WHERE ROLE_NO = #{roleNo}
    </delete>

    <delete id="deleteRole" parameterType="_int">
        DELETE
          FROM ROLE
         WHERE ROLE_NO = #{roleNo}
    </delete>

    <insert id="insertNewType" parameterType="com.warmmingup.buildup.admin.dto.AuthTypeDTO">
        INSERT
          INTO AUTHORITY_TYPE
        (
          TYPE_NO
        , TYPE_NAME
        )
        VALUES
        (
          ( SELECT MAX(TYPE_NO)+1 TYPE_NO
              FROM AUTHORITY_TYPE
          )
        , #{typeName}
        )
    </insert>
    
    <insert id="insertNewAuthorityState" parameterType="com.warmmingup.buildup.admin.dto.AuthTypeDTO">
        INSERT
          INTO AUTHORITY
        (
          AUTHORITY_NO
        , AUTHORITY_STATE
        , TYPE_NO
        )
        (
        SELECT ( SELECT MAX(AUTHORITY_NO)
                   FROM AUTHORITY
               ) + AUTHORITY_NO AUTHORITY_NO
             , AUTHORITY_STATE
             , ( SELECT TYPE_NO
                   FROM AUTHORITY_TYPE
                  WHERE TYPE_NAME = #{typeName}
               ) TYPE_NO
          FROM AUTHORITY
         WHERE ROWNUM &lt; 5
        )
    </insert>

    <insert id="insertNewAuthority" parameterType="com.warmmingup.buildup.admin.dto.AuthTypeDTO">
        INSERT
          INTO ROLE_AUTHORITY_TYPE
        (
          ROLE_NO
        , AUTHORITY_NO
        )
        (
        SELECT R.ROLE_NO
             , A.AUTHORITY_NO
          FROM AUTHORITY A, ROLE R
         WHERE A.AUTHORITY_STATE = 'R'
           AND A.TYPE_NO = ( SELECT T.TYPE_NO
                               FROM AUTHORITY_TYPE T
                              WHERE T.TYPE_NAME = #{typeName}
                           )
        )
    </insert>

    <select id="selectTypeNo" parameterType="String" resultType="_int">
        SELECT TYPE_NO
          FROM AUTHORITY_TYPE
         WHERE TYPE_NAME = #{typeName}
    </select>

    <delete id="deleteType" parameterType="_int">
        DELETE
          FROM AUTHORITY_TYPE
         WHERE TYPE_NO = #{typeNo}
    </delete>

    <delete id="deleteAuthorityType" parameterType="_int">
        DELETE
          FROM AUTHORITY
         WHERE TYPE_NO = #{typeNo}
    </delete>

    <delete id="deleteRoleAuthorityType" parameterType="_int">
        DELETE
          FROM ROLE_AUTHORITY_TYPE
         WHERE AUTHORITY_NO IN ( SELECT TYPE_NO
                                   FROM AUTHORITY
                                  WHERE TYPE_NO = #{typeNo}
                               )
    </delete>
</mapper>