<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warmmingup.buildup.admin.dao.AuthorityManageMapper">

    <resultMap id="authRole" type="com.warmmingup.buildup.admin.dto.AuthRoleDTO">
        <id property="roleNo" column="ROLE_NO"/>
        <result property="roleName" column="ROLE_NAME"/>
    </resultMap>

    <resultMap id="authType" type="com.warmmingup.buildup.admin.dto.AuthTypeDTO">
        <id property="typeNo" column="TYPE_NO"/>
        <result property="typeName" column="TYPE_NAME"/>
    </resultMap>

    <resultMap id="authority" type="com.warmmingup.buildup.admin.dto.AuthorityDTO">
        <id property="roleNo" column="ROLE_NO"/>
        <result property="roleName" column="ROLE_NAME"/>
        <result property="typeNo" column="TYPE_NO"/>
        <result property="typeName" column="TYPE_NAME"/>
        <result property="state" column="AUTHORITY_STATE"/>
    </resultMap>

    <select id="selectAuthority" resultMap="authority">
        SELECT
               A.ROLE_NO
             , A.ROLE_NAME
             , D.TYPE_NO
             , D.TYPE_NAME
             , C.AUTHORITY_STATE
          FROM ROLE A
          JOIN ROLE_AUTHORITY_TYPE B ON ( A.ROLE_NO = B.ROLE_NO )
          JOIN AUTHORITY C ON ( B.AUTHORITY_NO = C.AUTHORITY_NO )
          JOIN AUTHORITY_TYPE D ON ( C.TYPE_NO = D.TYPE_NO )
         ORDER BY A.ROLE_NO, D.TYPE_NO, C.AUTHORITY_NO
    </select>

    <select id="selectAllAuthRoles" resultMap="authRole">
        SELECT
               ROLE_NO
             , ROLE_NAME
          FROM ROLE
         ORDER BY ROLE_NO
    </select>

    <select id="selectAllAuthTypes" resultMap="authType">
        SELECT
               TYPE_NO
             , TYPE_NAME
          FROM AUTHORITY_TYPE
         ORDER BY TYPE_NO
    </select>

    <select id="selectAuthNo" resultType="_int">
        SELECT MAX(ROLE_NO)+1
          FROM ROLE
    </select>

    <select id="selectRoleName" parameterType="com.warmmingup.buildup.admin.dto.AuthorityDTO" resultType="_int">
        SELECT ROLE_NO
          FROM ROLE
         WHERE ROLE_NAME = #{roleName}
    </select>

    <insert id="insertNewRole" parameterType="com.warmmingup.buildup.admin.dto.AuthorityDTO">
        INSERT
          INTO ROLE A
        (
          ROLE_NO
        , ROLE_NAME
        )
        VALUES
        (
          #{roleNo}
        , #{roleName}
        )
    </insert>

    <insert id="insertAuthority" parameterType="hashmap">
        <selectKey keyProperty="typeNo" order="BEFORE" resultType="_int">
            SELECT TYPE_NO
              FROM AUTHORITY_TYPE
             WHERE TYPE_NAME = #{typeName}
        </selectKey>

        INSERT
          INTO ROLE_AUTHORITY_TYPE
        (
          ROLE_NO
        , AUTHORITY_NO
        )
        VALUES
        (
          #{roleNo},
        (
          SELECT AUTHORITY_NO
            FROM AUTHORITY
           WHERE AUTHORITY_STATE = #{state}
             AND TYPE_NO=#{typeNo}
        )
        )
    </insert>

    <update id="updateRole" parameterType="com.warmmingup.buildup.admin.dto.AuthorityDTO">
        UPDATE ROLE
           SET
               ROLE_NAME = #{roleName}
         WHERE ROLE_NO = #{roleNo}
    </update>

    <delete id="deleteAuthority" parameterType="_int">
        DELETE
          FROM ROLE_AUTHORITY_TYPE
         WHERE ROLE_NO = #{roleNo}
    </delete>

    <delete id="deleteRole" parameterType="_int">
        DELETE
          FROM ROLE
         WHERE ROLE_NO = #{roleNo}
    </delete>


</mapper>